HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

logs
*.log
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin


### Application Configuration ###
src/main/resources/application.yaml
src/main/resources/application.yml
src/main/resources/application-*.yaml
src/main/resources/application-*.yml

### Audio Samples ###
src/main/resources/samples/
*.mp3
*.wav
src/main/resources/examples/
*.mp3
*.wav
src/main/resources/vocabulary/
*.mp3
*.wav