<configuration>
    <conversionRule conversionWord="maskedMsg" converterClass="io.github.ndtung723.nihongoit.common.logging.SensitiveMaskingConverter"/>
    <springProperty name="appName" source="spring.application.name" defaultValue="unknown"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>time</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel><fieldName>level</fieldName></logLevel>
                <loggerName><fieldName>logger</fieldName><shortenedLoggerNameLength>36</shortenedLoggerNameLength></loggerName>
                <message>
                    <fieldName>message</fieldName>
                    <pattern>%maskedMsg</pattern>
                </message>
                <mdc/>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerCause>8</maxDepthPerCause>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>{"app":"${appName}","env":"${ENV:-local}"}</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!-- trace_id/span_id auto-injected into MDC by OTel javaagent when enabled. -->
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%X{trace_id:-no-trace},%X{span_id:-}] [%cyan(%logger{36})] %maskedMsg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
